span.position:after {
	content: 'Senior Software Developer' !important;
}

span.company:after {
	content: 'Another Company' !important;
}

span.city:after {
	content: 'Paris' !important;
}

span.start-date:after {
	content: 'January 2016' !important;
}

.tech-systems {
	display: none !important;
}

