/* Page breaks page-break-after: always; */

.details .personal {
	display: none;
}

.details section h4 {
	width: 2cm !important;
}

.exp ul li:not(.highlight) {
	display: none;
}

.more {
	display: none;
}

.education .what {
	display: none;
}

.publications .what {
	display: none;
}

.objective {
	display: none;
}
