/* Page breaks page-break-after: always; */

.details .personal {
	display: none;
}

.details section h4 {
	width: 2cm !important;
}

.skills .tools .cvs, 
.skills .tools .synergy,  
.skills .tools .liquibase {
	display: none;
}

.skills .web .xslt {
	display: none;
}

.skills .linux .mailman {
	display: none;
}

.exp .dev-env {
	display: none;
}

.exp ul li:not(.highlight) {
	display: none;
}

.exp .viadeo-mobile,
.exp .viadeo-platform,
.exp .viadeo-api {
	display: none;
}

.more {
	display: none;
}

.education .what {
	display: none;
}

.education .mysql {
	display: none;
}

.education .hh {
	display: none;
}

.publications .what {
	display: none;
}

.hobbies .rock {
	display: none;
}

.objective {
	display: none;
}
